
<table width=100% height=100%>
	<h1 class="archive__item-title"> People </h1>
	<tr>
		<td width=80%>
		<h3 class=""> <a href="http://indacobiazzo.me" target="_blank">Indaco Biazzo</a> <small>(Web master)</small>  </h3> 
		<h3> <a href="http://socialdynamics.it/vittorioloreto/it/" target="_blank">Vittorio Loreto</a> </h3>
		<h3> Bernardo Monechi </h3>
		</td>
	<td width=20%>
	<h2> Former collaborators </h2>
		<div> Francesca Tria </div>
	<div>  Cesare Bianchi </div>
	<div>  Elisabetta Falivene </div>
	<div> Vito Servidio </div>
	</td></tr>
</table>