<div class="feature__wrapper">
    <div class="feature__item--left">
      <div class="archive__item text-left">
        	<div class="archive__item-left">     
		<h2 class="archive__item-title"> Hosting Institutions </h2>
         <div class="archive__item-excerpt">
			<h3>Current</h3>
				<p>Department of APPLIED SCIENCE AND TECHNOLOGY (DISAT) Politecnico di Torino</p>

			<h3>Former</h3>
				<div>Department of PHYSICS University of Rome La Sapienza</div>
				<div>ISI Foundation Fondazione ISI di Torino</div>

			</div>
		  </div>
        </div>
      </div>
    </div>
  
<div class="feature__wrapper">
    <div class="feature__item--left">
      <div class="archive__item text-left">
        	<div class="archive__item-left">     
		<h2 class="archive__item-title"> Sponsor </h2>
         <div class="archive__item-excerpt">
			<h3>Current</h3>
			<img src="assets/images/smartData.png" alt="SmartData@PoliTO logo" height="150" width="150" style="margin-right: 30px; ">
			<a href="https://smartdata.polito.it/", target="_blank">SmartData@PoliTO </a>

			<h3>Former</h3>
				<a href="https://www.templeton.org/" target="_blank">John Templeton Foundation</a> with the 
				<a href="http://www.kreyon.net/en/kreyon/" target="_blank">kreyon project</a>
				<br>
     			<img src="/assets/images/templeton_logo.jpeg" height="150" width="150" style="margin-right: 30px;">
     			<img src="/assets/images/kreyon_logo.png" height="150" width="150" style="margin-right: 30px;">

			</div>
		  </div>
        </div>
      </div>
    </div>